body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #21333F;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

form {
    padding: 20px;
}

fieldset {
    border-radius: 5px;
    padding: 20px;
}

code, pre {
    background-color: grey;
}

legend {
    background-color: #21333F;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    border-radius: 5px;
}

.text-edit {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #fff;
}

.checklist {
    list-style-type: none;
    padding: 0;
}

.checklist li {
    margin: 5px 0;
}

h2 {
    font-size: 20px;
    color: #333;
}